@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i');



.pointer {
	cursor: pointer;
}
.navbar li {
	font-size: 1.15em;
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
}
.panel-heading.pointer {
	height: 52px;
}
.panel-title {
	color: black;
	font-size: 2em;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
}
h5 {
	cursor: pointer;
	font-size: 1.25em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
.list-group-item .glyphicon {
	padding-left: 10px;
	padding-right: 10px;
}
.list-group-item {
	color: #555;
	cursor: pointer;
	background: #FFF !important;
	font-family: 'Montserrat', sans-serif;
}
.list-group-item:hover {
	color: #000;
	background: #F5F5F5 !important;
}
.list-group-item.indent-0 {
	padding-left: calc(15px + (0*25px));
}
.list-group-item.indent-1 {
	padding-left: calc(15px + (1*25px));
}
.list-group-item.indent-2 {
	padding-left: calc(15px + (2*25px));
}
.list-group-item.indent-3 {
	padding-left: calc(15px + (3*25px));
}
.list-group-item.indent-4 {
	padding-left: calc(15px + (4*25px));
}
.list-group-item.indent-5 {
	padding-left: calc(15px + (5*25px));
}
.list-group-item.indent-6 {
	padding-left: calc(15px + (6*25px));
}
.list-group-item.indent-7 {
	padding-left: calc(15px + (7*25px));
}
.list-group-item.indent-8 {
	padding-left: calc(15px + (8*25px));
}


