
body {
	padding-top: 0px !important;
}

.carousel#slideshow {
	min-height: calc( (100vh - 100px) / 2);
	max-height: calc( (100vh - 100px) / 2);
}
.carousel#slideshow img {
	min-height: calc( (100vh - 100px) / 2);
	max-height: calc( (100vh - 100px) / 2);
}
.carousel#slideshow .carousel-indicators li {
	border-color: black;
}
.carousel#slideshow .item {
	width: 100%;
	min-height: calc( (100vh - 100px) / 2);
	max-height: calc( (100vh - 100px) / 2);
	padding: 1em 6em;
	background-size: 100%;
	background-repeat: no-repeat;
}
.carousel#slideshow .item:nth-of-type(1) {
	background-image: url("resources/image-01.jpg");
	background-position: center center;
}
.carousel#slideshow .item:nth-of-type(2) {
	background-image: url("resources/image-05.jpg");
	background-position: center center;
}
.carousel#slideshow .item:nth-of-type(3) {
	background-image: url("resources/image-06.jpg");
	background-position: center center;
}
.carousel#slideshow .item:nth-of-type(4) {
	background-image: url("resources/image-07.jpg");
	background-position: center center;
}

h1 {
	color: black;
	font-size: 4em;
	text-align: center;
	font-weight: 700;
	font-family: sans-serif;
}
h2 {
	color: #444;
	font-size: 4em;
	text-align: center;
	font-weight: 400;
	font-family: "Open Sans", sans-serif;
}
h3 {
	color: black;
}
h4 {
	color: black;
}
h5 {
	color: gray;
	font-size: 1.6em;
	text-align: center;
	font-weight: 300;
	font-family: "Open Sans", sans-serif;
	margin-bottom: 2em;
}
h6 {
	color: gray;
}
p {
	color: #222;
	font-size: 1.4em;
	text-align: justify;
	font-weight: 300;
	font-family: "Open Sans", sans-serif;
}
li {
	color: #222;
	font-size: 1.4em;
	text-align: left;
	font-weight: 300;
	font-family: "Open Sans", sans-serif;
}



.jumbotron {
	margin: 1em 0em;
}
.jumbotron h1 {
	color: white;
	padding: 0em 0em 0.5em 0em;
	font-size: 2em;
	text-align: center;
	font-weight: 700;
	font-family: "Roboto", sans-serif;
}
.jumbotron p {
	color: white;
	font-size: 1.2em;
	text-align: center;
	font-weight: 400;
	font-family: "Open Sans", sans-serif;
}

.jumbotron#team {
	background-size: 500%;
	background-color: royalblue;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

.container#staff, .container#service {
	width: 100%;
	margin: 0;
	padding: 0;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

div.staff-member {
	width: 250px;
	height: 300px;
	box-shadow: none;
	transition: all 150ms ease-in-out;
}
div.staff-container {
	width: 250px;
	height: 300px;
	margin: 2em;
	display: inline-block;
}
div.staff-member img {
	width: 128px;
	height: 128px;
	margin: 20px calc( (100% - 128px) / 2);
	border-radius: 100%;
}
div.staff-member h6 {
	color: #AA4E26;
	padding: 0px 15px;
	font-size: 1.8em;
	text-align: center;
	font-weight: 700;
	font-family: "Roboto", sans-serif;
	transition: all 150ms ease-in-out;
}
div.staff-member p {
	color: #333;
	padding: 0px 20px;
	font-size: 1.2em;
	text-align: center;
	font-weight: 400;
	font-family: "Open Sans", sans-serif;
}
div.staff-member:hover {
	box-shadow: 0px 5px 15px #888888;
}
div.staff-member:hover h6 {
	color: #5E81BF;
	transition: all 150ms ease-in-out;
}
div.service-card {
	width: 250px;
	height: auto;
	display: inline-block;
	max-height: 400px;
	margin: 2em;
	box-shadow: none;
	transition: all 150ms ease-in-out;
}
div.service-card .img-holder {
	width: 128px;
	height: 128px;
	margin: 0px calc( (100% - 128px) / 2);
	padding: 0px;
	border-radius: 100%;
	z-index: 100;
}
div.service-card img {
	width: 128px;
	margin: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	border: 1px solid silver;
	border-radius: 100%;
}
div.service-card-actual {
	height: auto;
	max-height: calc(400px - 64px);
	margin-top: calc( 0px - (128px / 2) );
	padding: 0px;
	padding-top: 64px;
	padding-bottom: 16px;
	box-shadow: none;
	transition: all 150ms ease-in-out;
	border: 1px solid silver;
	z-index: 50;
}
div.service-card-actual h3 {
	color: black;
	padding: 0px 15px;
	font-size: 1.6em;
	text-align: center;
	font-weight: 700;
	font-family: "Roboto", sans-serif;
	transition: all 150ms ease-in-out;
	text-transform: capitalize;
}
div.service-card-actual p {
	color: gray;
	padding: 0px 20px;
	font-size: 1em;
	text-align: center;
	font-weight: 400;
	font-family: "Open Sans", sans-serif;
}

.jumbotron#statement {
	background-size: 500%;
	background-color: green;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

.jumbotron#statement p {
	color: white;
	font-size: 1.4em;
	font-style: italic;
	line-height: 1.2em;
	font-weight: 700;
	font-family: "Open Sans", sans-serif;
}

.jumbotron#quote {
	background-size: 500%;
	background-color: goldenrod;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}
.jumbotron#quote blockquote {
	width: 100%;
	border: none;
	margin: 0em;
	padding: 2em 1em;
	border-radius: 25px;
	background: white;
	box-shadow: 0 0 16px 4px rgba(0,0,0,0.25);
}
.jumbotron#quote blockquote img {
	width: calc(128px * 1.5);
	height: calc(128px * 1.5);
	margin: calc( (100% - (128px * 1.5) ) / 2);
	margin-top: 0em;
	margin-bottom: 0em;
	border-radius: 100%;
/*box-shadow: inset 0 0 10px 10px #000000;*/
}
.jumbotron#quote blockquote p:nth-of-type(1) {
	color: black;
	font-size: 1.4em;
	font-style: italic;
	text-align: left;
	margin-top: 1.5em;
	line-height: 1.2em;
	font-weight: 400;
	font-family: "Open Sans", sans-serif;
}
.jumbotron#quote blockquote p:nth-of-type(2) {
	color: black;
	font-size: 1.2em;
	font-style: italic;
	text-align: right;
	line-height: 1.2em;
	font-weight: 400;
	font-family: "Open Sans", sans-serif;
}

#carousel-hitbox {
	width: 100%;
	height: calc( (100vh - 100px) / 2);
  margin: 0;
  padding: 0;
}

textarea {
	resize: none;
}


.staff-container{
	display:inline-flex;
	
}










/* --------------------------------------------------------------------------------------------------------------------- */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.carousel#slideshow {
		margin-top: 100px;
		min-height: calc(100vh - 100px);
		max-height: calc(100vh - 100px);
	}
	.carousel#slideshow .item {
		min-height: calc(100vh - 100px);
		max-height: calc(100vh - 100px);
		background-size: 150%;
	}
	#carousel-hitbox {
		width: 100%;
		height: calc( (100vh - 100px));
	  margin: 0;
	  padding: 0;
	}
	.carousel#slideshow .item:nth-of-type(1) {
		background-position: top center;
	}
	.carousel#slideshow .item:nth-of-type(2) {
		background-position: center center;
	}
	.carousel#slideshow .item:nth-of-type(3) {
		background-position: top center;
	}
	.carousel#slideshow .item:nth-of-type(4) {
		background-position: top center;
	}
	.jumbotron#team, .jumbotron#statement, .jumbotron#quote {
		background-size: 100%;
	}
	.jumbotron h1 {
		font-size: 4em;
	}
	.jumbotron p {
		font-size: 1.6em;
	}
	.jumbotron#statement p {
		color: white;
		font-size: 1.8em;
		font-style: italic;
		line-height: 1.2em;
		font-weight: 700;
		font-family: "Open Sans", sans-serif;
	}
	.jumbotron#quote blockquote img {
		width: 256px;
		height: 256px;
		margin: calc( (100% - 256px) / 2);
		margin-top: 0em;
		margin-bottom: 0em;
		border-radius: 100%;
	/*box-shadow: inset 0 0 10px 10px #000000;*/
	}
}


/* --------------------------------------------------------------------------------------------------------------------- */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	
}





/* --------------------------------------------------------------------------------------------------------------------- */
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	
}